<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    {% extends "base.html" %}
    {% block title %}Login{% endblock title %}
    {% block head %}
    {{super()}}
    <script type="text/javascript">var a=99;</script>
    {% endblock head %}
</head>
<body>
    {% block content %}
    <fieldset>
        <legend>表格</legend>
        <form method="post" action={{url_for('login')}}>
            <p><input type="text" name="username" /></p>
            <p><button type="submit">Submit</button></p>
        </form>
    </fieldset>
    {% endblock content %}
</body>
</html>